@charset "UTF-8";
@import "mysite.css";

#gallery			{ margin:20px auto;	width:540px; }
#gallery ul			{ width: 100%; clear:both; }
#gallery li a 		{ display:block; }
#gallery h1			{ float:left; }

#upload-image {
	text-decoration:none;
	float:right; 
	padding:5px 20px 5px 20px ; 
	border:1px solid #555; 
	font-weight:bold; 
	background-color:#E8ECF6; 
	color:#111 
}
#gallery ul li {
	position:relative;
	float:left; 
	overflow-y:hidden;
}

#gallery ul li a.image{
	display:block;
	width:114px;
	height:114px;
	background-size: 114px 114px;
	background-repeat: no-repeat;
	background-position: center center;

	float: left;
	margin: 10px 5px 10px 5px;
}


#gallery ul li a.del-button {
	position:absolute;
	right:2px;
	top:3px;

	display:none;
	
}

#gallery ul li:hover a.del-button {
	display: block;
	width: 11px;
	height: 11px;
	background: url("/mysite03/assets/images/delete-image.png") no-repeat;
	background-size: 11px 11px;
	background-position: center;
	
}





/* 이미지 업로드 팝업 레이어 */ 
#dialog-upload-form 					{ text-align: left; }
#dialog-upload-form p					{ padding:20px 0 5px 0; font-weight: bold; font-size:1.1em }
#dialog-upload-form label, 
#dialog-upload-form input				{ display:block; }
#dialog-upload-form label				{ font-weight:bold; margin-top:10px; }
#dialog-upload-form input				{ outline:none; margin-top:5px; }
#dialog-upload-form input[type='text']	{ padding: 5px; border:2px solid #A9A9A9; width:260px; }

